<div class="col-md-12 text-center">
    <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
            {% if obj.has_previous %}
                <li class="page-item "><a class="page-link"
                                          href="?page={{ obj.previous_page_number }} #paginator">&lt;</a></li>
            {% endif %}

            {% for i in obj.paginator.page_range %}
                {% if i == obj.number %}
                    <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }} #paginator">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ obj.next_page_number }} #paginator">&gt;</a>
                </li>
            {% endif %}

        </ul>
    </nav>
</div>
